{% extends 'padre.html' %}
{% block Cambia %}
    <div class="subheading mb-5">
            Trabajo grupal de Beatriz Londero· 
            <a href="mailto:name@email.com">beatrizlon77@gmail.com</a>
            </div>
                <p class="lead mb-5">Este es el proyecto final del curso de PYTHON cursado en CODERHOUSE. Esperamos cumplir con las consignas solicitadas y asi poder comenzar a trabajar en esto que tanto gusta.</p>
                <div class="social-icons">
                    <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
                    <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="social-icon" href="https://www.facebook.com/sharer/sharer.php?u=[url]"><i class="fab fa-facebook-f"></i></a>
                </div> 
            </div> 
        </div>             
{% endblock %}
