{% extends 'padre.html' %}
{% block clienteCambia %}
    <h3> Los clientees son : </h3>
    {% for cliente in object_list %}
        {{cliente}}
        <a href= "{% url 'clientesUpdate' cliente.id %}"> Editar </a>
        <br>
    {% endfor %}    
    <br>
    <a class="btn btn-primary" href="{% url 'clientes' %} ">Volver</a>
{% endblock %}
{% block proveedorCambia %}
    <a class="btn btn-primary" href="{% url 'proveedoresAdd' %}" >Agregar</a>
    <a class="btn btn-primary" href="{% url 'proveedoresBorrar'%}" >Borrar</a>
    <a class="btn btn-primary" href="{% url 'proveedoresList' %}" >Listar</a>
    <a class="btn btn-primary" href="{% url 'proveedoresModif' %}" >Modificar</a>
{% endblock %}