{% extends 'padre.html' %}
{% block Cambia %}
    {% if form.errors %}
        <p style= "color:red; ">{{form.errors}}</p>
    {% endif %}
    <form action="" method='POST'> 
    {% csrf_token %}
        ¿Desea borrar la siguiente informacion?: 
    <br>
    <br>
        {{ object }}    
    <br>
    <br>
    <br>
        <input class="btn btn-primary" type="submit" value="Confirmar Borrado">
    <br>
    <br>
    <br>
    {% comment %} <input class="btn btn-primary" type="submit" value="Volver" href="{% url 'clientes'%}"> {% endcomment %}
    <a class="btn btn-primary js-scroll-trigger" href="{% url 'clientes' %} ">Volver</a>

    
{% endblock %}
