{% extends 'padre.html' %}
{% block Cambia %}
    {% if formulario.errors %}
    <p style= "color:red; ">{{formulario.errors}}</p>

    {% endif %}

    <formulario action="" method='POST'> 
    {% csrf_token %}
    Agregar Clientes

        <table  style="width: 600px;"><tbody><tr> <td style="width: 200px">
            
            {{ formulario.as_table }}

        </table>
    <br>
    <input type="submit" value="Enviar">
    <br>
    <br>
    <br>
    <a class="btn btn-primary" href="{% url 'clientes' %} ">Volver</a>
    {% comment %} <input class="btn btn-primary" type="submit" value="Volver" href="{% url 'proveedores'%}"> {% endcomment %}
{% endblock %}

