{% extends 'padre.html' %}

{% block Cambia %}

<div class="subheading mb-5">
    <h1 class="text">
       * Comentarios y Sugerencias *
    </div>
        <div>
            <a class="btn btn-primary" href="{% url 'comentariosAdd' %}" >Agregar</a>
            <a class="btn btn-primary" href="{% url 'comentariosBorrar'%}" >Borrar</a>
            <a class="btn btn-primary" href="{% url 'comentariosModif' %}" >Editar</a>
            
        </div> 
    </div> 
</div>          

    

{% endblock %}

