{% extends 'padre.html' %}
{% block proveedorCambia %}
    <a class="btn btn-primary" href="{% url 'proveedoresAdd' %}" >Agregar</a>
    <a class="btn btn-primary" href="{% url 'proveedoresBorrar'%}" >Borrar</a>
    <a class="btn btn-primary" href="{% url 'proveedoresList' %}" >Listar</a>
    <a class="btn btn-primary" href="{% url 'proveedoresModif' %}" >Modificar</a>
    {% comment %} <input class="btn btn-primary" type="submit" value="Agregar" href="{% url 'proveedoresAdd'%}">
    <input class="btn btn-primary" type="submit" value="Borrar" href="{% url 'proveedoresBorrar'%}">
    <input class="btn btn-primary" type="submit" value="Listar" href="{% url 'proveedoresList'%}">
    <input class="btn btn-primary" type="submit" value="Modificar" href="{% url 'proveedoresModif'%}"> {% endcomment %}
{% endblock %}

{% block clienteCambia %}
    <input type="submit"  value="Agregar">
    <input type="submit"  value="Borrar">
    <input type="submit"  value="Modificar">
    <input type="submit"  value="Listar">
{% endblock %}

{% block productoCambia %}
    <input type="submit"  value="Agregar">
    <input type="submit"  value="Borrar">
    <input type="submit"  value="Modificar">
    <input type="submit"  value="Listar">
{% endblock %}