{% extends 'padre.html' %}
{% block proveedorCambia %}
    <a class="btn btn-primary" href="{% url 'proveedoresAdd' %}" >Agregar</a>
    <a class="btn btn-primary" href="{% url 'proveedoresBorrar'%}" >Borrar</a>
    <a class="btn btn-primary" href="{% url 'proveedoresList' %}" >Listar</a>
    <a class="btn btn-primary" href="{% url 'proveedoresModif' %}" >Modificar</a>
{% endblock %}

{% block clienteCambia %}
    <a class="btn btn-primary" href="{% url 'clientesAdd' %}" >Agregar</a>
    <a class="btn btn-primary" href="{% url 'clientesBorrar'%}" >Borrar</a>
    <a class="btn btn-primary" href="{% url 'clientesList' %}" >Listar</a>
    <a class="btn btn-primary" href="{% url 'clientesModif' %}" >Modificar</a>
{% endblock %}

{% block productoCambia %}
    <input type="submit"  value="Agregar">
    <input type="submit"  value="Borrar">
    <input type="submit"  value="Modificar">
    <input type="submit"  value="Listar">
{% endblock %}