{% extends 'padre.html' %}
{% block proveedorCambia %}
    <h3> Los Proveedores son : </h3>
    {% for proveedor in object_list %}
        {{proveedor}}
        <br>
    {% endfor %}    
    <a class="btn btn-primary" href="{% url 'proveedores' %} ">Volver</a>
    <a href="#proveedor"></a>
    {% comment %} <input class="btn btn-primary" type="submit" value="Volver" href="{% url 'proveedores'%}"> {% endcomment %}
{% endblock %}

{% comment %} {% extends 'padre.html' %}
{% block proveedorCambia %}
    <h3> Los Proveedores son : </h3>
    {% for proveedor in object_list %}
        {{proveedor}}
        <br>
    {% endfor %}    
    <a class="btn btn-primary" href="{% url 'proveedores' %}" >Volver</a>
{% endblock %} {% endcomment %}

{% comment %} {% block clienteCambia %}
    <input type="submit"  value="Agregar">
    <input type="submit"  value="Borrar">
    <input type="submit"  value="Modificar">
    <input type="submit"  value="Listar">
{% endblock %}

{% block productoCambia %}
    <input type="submit"  value="Agregar">
    <input type="submit"  value="Borrar">
    <input type="submit"  value="Modificar">
    <input type="submit"  value="Listar">
{% endblock %} {% endcomment %}