{% extends 'padre.html' %}

{% block Cambia %}

<div class="subheading mb-5">
    <h1 class="text">
       *** PROVEEDORES ***
    </div>
        <div>
            <a class="btn btn-primary" href="{% url 'proveedoresAdd' %}" >Agregar</a>
            <a class="btn btn-primary" href="{% url 'proveedoresBorrar'%}" >Borrar</a>
            <a class="btn btn-primary" href="{% url 'proveedoresList' %}" >Listar</a>
            <a class="btn btn-primary" href="{% url 'proveedoresModif' %}" >Modificar</a>
            
        </div> 
    </div> 
</div>          

    

{% endblock %}

