{% extends 'padre.html' %}
{% block proveedorCambia %}
    {% if form.errors %}
    <p style= "color:red; ">{{form.errors}}</p>

    {% endif %}

    <form action="" method='POST'> 
    {% csrf_token %}
    <table>
        
        {{ form.as_table }}

    </table>
    <br>
    <input type="submit" value="Enviar">
    <br>
    <br>
    <br>
    {% comment %} <input class="btn btn-primary" type="submit" value="Volver" href="{% url 'proveedores'%}"> {% endcomment %}
    <a class="btn btn-primary" href="{% url 'proveedores' %} ">Volver</a>
{% endblock %}