{% extends 'padre.html' %}
{% block Cambia %}
    {% if formulario.errors %}
    <p style= "color:red; ">{{formularioulario.errors}}</p>

    {% endif %}

    <formulario action="" method='POST'> 
    {% csrf_token %}
    <table>
        
        {{ formulario.as_table }}

    </table>
    <br>
    <input type="submit" value="Enviar">
    <br>
    <br>
    <br>
    <a class="btn btn-primary" href="{% url 'proveedores' %} ">Volver</a>
    {% comment %} <input class="btn btn-primary" type="submit" value="Volver" href="{% url 'proveedores'%}"> {% endcomment %}
{% endblock %}